@import 'lib/all';

$breakpoints: (small: 512px, medium: 768px, large: 1024px, huge: 1400px);

$greyColor: #A2A19E;
$blackColor: #373630;
$transparentWhite: rgba(255, 255, 255, 0.3);

@keyframes sizeUp {
  0% { transform: scale(1, 1);}
  100% { transform: scale(1.3, 1.3);}
}
@keyframes sizeDonw {
  0% { transform: scale(1.3, 1.3);}
  100% { transform: scale(1, 1);}
}